.gallery {
  &__line-block {
    margin: 0 auto 38px;
    padding-top: 98px;
    width: 5%;
  }

  &__line {
    height: 2px;
    border: none;
    color: $dark-blue;
    background-color: $dark-blue;
  }

  &__title {
    font-family: $gotham-book;
    font-size: 44px;
    font-weight: 500;
    text-transform: uppercase;
    color: $dark-blue;
    text-align: center;
    margin-bottom: 100px;
  }

  &__photos {
    width: 75%;
    margin: auto;
    display: flex;
  }

  &__block-2 {
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    width: 260px;
    height: auto;
    margin: 5px;
  }

  &__img-big {
    width: 560px;
    height: auto;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 140px;
  }

  &__btn {
    border: 1px solid $dark-blue;
    font-family: $gotham-medium;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: $dark-blue;
    background-color: #fff;
    padding: 20px 40px;
  }

  &__btn:hover {
    cursor: pointer;
    transform: scale(0.9);
  }
}
